/* ... Existing styles ... */

body {
    background-color: green;
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 0;
}

header {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
    margin-top: 60px;
    position: relative;
}

.menu-toggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.menu-toggle:hover {
    color: #4CAF50;
}

.menu-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
}

.menu-bar.show-menu {
    display: block;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    display: block;
    margin-bottom: 10px;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; /* Adjust the font size as needed */
}

.menu-bar img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/* ... Other styles ... */

section {
    margin-top: 60px;
}

.cta-button img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .menu-toggle {
        left: 10px;
    }

    .menu-bar {
        padding: 10px 20px;
    }
}
